*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:linear-gradient(135deg,#2e3f8d,#8b377b);
    min-height:100vh;
    padding:20px;
    color:#333;
}

.container{
    max-width:1200px;
    margin:auto;
}

.header{
    text-align:center;
    color:#fff;
    margin-bottom:30px;
}

.header h1{
    font-size:2.3em;
}

/* SEARCH */
.search-box{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-bottom:30px;
}

.search-box input{
    padding:12px 18px;
    width:300px;
    border-radius:50px;
    border:none;
    outline:none;
}

.search-box button{
    padding:12px 18px;
    border-radius:40px;
    border:none;
    cursor:pointer;
    background-color:rgba(58, 152, 86, 0.614);
    color:white;
}

/* STATUS */
.error{
    background:#e74c3c;
    color:white;
    padding:10px;
    border-radius:10px;
    text-align:center;
    margin-bottom:15px;
}

.loading{
    color:white;
    text-align:center;
    margin-bottom:15px;
}

/* CARDS */
.current-weather,.forecast-section{
    background:#ebb2b2cc;
    padding:25px;
    border-radius:20px;
    margin-bottom:30px;
}

.current-weather-header{
    font-size:1.8em;
    font-weight:bold;
}

.date{
    color:gray;
}

.location{
    font-size:20px;
    font-weight:600;
}

.current-main{
    display:flex;
    gap:30px;
    align-items:center;
    margin-bottom:30px;
}

.weather-icon{
    font-size:5em;
}

.temperature{
    font-size:3.5em;
    font-weight:bold;
    color:#667eea;
}

.description{
    color:gray;
}

/* DETAILS */
.weather-details{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:15px;
    background: lavender;
    border-radius: 75px;
}

.detail-item{
    background:#f2f2f2;
    padding:15px;
    border-radius:10px;
    text-align:center;
    background: rgb(205, 183, 165);
}

.value{
    font-weight:bold;
    font-size:1.3em;
}

/* HOURLY */
.hourly-forecast{
    display:flex;
    gap:10px;
    overflow-x:auto;
}

.hourly-item{
    background:#f2f2f2;
    padding:10px;
    border-radius:10px;
    min-width:100px;
    text-align:center;
}

/* DAILY */
.daily-forecast{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(130px,1fr));
    gap:10px;
}

.daily-item{
    background:#f2f2f2;
    padding:15px;
    border-radius:10px;
    text-align:center;
}